<app-primeiro-componente></app-primeiro-componente><hr>
<app-segundo-componente></app-segundo-componente><hr>
<app-pipe-customizado></app-pipe-customizado><hr>
<app-two-way-data-binding></app-two-way-data-binding><hr>
<app-renderizando-listas></app-renderizando-listas><hr>
<app-component-personalizado nome="Joao" sobrenome="Da Silva"></app-component-personalizado><hr>
<app-component-personalizado nome="Maria" sobrenome="Da Silva"></app-component-personalizado><hr>
<app-componente-pai></app-componente-pai><hr>
<app-exemplo-servicos1></app-exemplo-servicos1><hr>
<app-exemplo-servicos2></app-exemplo-servicos2><hr>